{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": { "node": 10 } }],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "ignore": ["**/node_modules/*", "**/__mocks__/*"]
}
