{
  "extends": "vtex-react",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "jsx-a11y/no-autofocus": "off",
    "jest/no-mocks-import": "off",
    "no-fallthrough": "off",
    "spaced-comment": "off"
  }
}
