name: CI
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - name: NodeJS 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - run: |
          yarn install --frozen-lockfile --check-files
          yarn --cwd react install --frozen-lockfile --check-files
      - uses: actions/cache@v2
        id: cache-build
        with:
          path: ./*
          key: ${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    needs: install
    steps:
    - name: Restore cache
      uses: actions/cache@v2
      id: restore-build
      with:
        path: ./*
        key: ${{ github.sha }}
    - run: yarn --cwd react test

  build:
    runs-on: ubuntu-latest
    needs: install
    steps:
    - name: Restore cache
      uses: actions/cache@v2
      id: restore-build
      with:
        path: ./*
        key: ${{ github.sha }}
    - run: yarn --cwd react build

  publish:
    runs-on: ubuntu-latest
    needs: [test, build]

    steps:
    - name: Restore cache
      uses: actions/cache@v2
      id: restore-build
      with:
        path: ./*
        key: ${{ github.sha }}
    - name: Publish release
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        CI: true
      run: ./publish-release.sh
